<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/main-fragment.html :: headerfiles(title = ${opera.titolo})">
	</head>
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/opera.css}">
	</head>
	<body>
		<div th:replace="fragments/main-fragment.html :: navbar">
			...
		</div>

		<section id="main-section" class="flex-small-container" th:object="${opera}">
				<div id="opera-frame" class="frame-flex-content-container">
					<h2 id="opera-title" th:text="*{titolo}">
						The Weekend Entrance
					</h2>
					<div id="opera-info" class="flex-container">

						<img id="immagine" th:src="*{pathImmagine}" th:class="*{isLong} ? long-img : large-img"/>

						<div id="info">
								<div class="info-name" th:text="#{pages.opera.autore}">
									...
								</div>

								<div class="info-value" th:object="${autore}">
									<a th:href="@{'/artista/' + *{id}}" th:text="|*{nome} *{cognome}|">
										...
									</a>
								</div>

								<div class="info-name" th:text="#{pages.opera.data.pubblicazione}">
									...
								</div>

								<div class="info-value" th:text="*{dataPubblicazione}">
									...
								</div>

								<div class="info-name" th:text="#{pages.opera.luogo}">
									...
								</div>

								<div class="info-value" th:text="*{luogo}">
									...
								</div>
							
						</div>
						
					</div>

					<div id="description" class="flex-container">
						<p th:text="*{descrizione}">
							...
						</p>
					</div>
				</div>
	</body>
</html>