<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/main-fragment.html :: headerfiles(title = #{pages.nuovo.artista.text.title})">
	</head>
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/admin/artista-form.css}">
	</head>
	<body>
		<div th:replace="fragments/main-fragment.html :: navbar">
			...
		</div>
		
		<section id="main-section" class="flex-small-container">
				<form id="form-container" class="frame-flex-content-container" th:action="@{/admin/artista/save}" method="POST" th:object="${artista}" enctype="multipart/form-data">
					<div class="fields">
						<div class="field-name" th:if="${#fields.hasErrors('nome')}">
						</div>
						<label th:text="#{pages.artista.nome}">
							...
						</label>
					</div>
					
					<div class="fields">
						<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
							...
						</div>
						
						<input type="text" th:field="*{nome}" class="entry"/>
					</div>
					
					<div class="fields">
						<div class="field-name" th:if="${#fields.hasErrors('cognome')}">
						</div>
						<label th:text="#{pages.artista.cognome}">
							...
						</label>
					</div>
					
					<div class="fields">
						<div th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}">
							...
						</div>
						
						<input type="text" th:field="*{cognome}" class="entry"/>
					</div>
				
					<div class="fields">
						<div class="field-name" th:if="${#fields.hasErrors('immagine')}">
						</div>
						<label th:text="#{pages.artista.immagine}">
							...
						</label>
					</div>
					
					<div class="fields">
						<div th:if="${#fields.hasErrors('immagine')}" th:errors="*{immagine}">
							...
						</div>
						
						<input type="file" name="foto" class="file-selector" accept="image/png, image/jpeg" />
					</div>
					
					<div class="fields">
						<div class="field-name" th:if="${#fields.hasErrors('dataNascita')}">
						</div>
						<label th:text="#{pages.artista.data.nascita}">
							...
						</label>
					</div>
					
					<div class="fields">
						<div th:if="${#fields.hasErrors('dataNascita')}" th:errors="*{dataNascita}">
							...
						</div>
						
						<input type="date" th:field="*{dataNascita}" id="nascita" class="date-selector"/>
					</div>
					
					<div class="fields">
						<div class="field-name" th:if="${#fields.hasErrors('luogoNascita')}">
						</div>
						<label th:text="#{pages.artista.luogo.nascita}">
							...
						</label>
					</div>
	
					<div class="fields">
						<div th:if="${#fields.hasErrors('luogoNascita')}" th:errors="*{luogoNascita}">
							...
						</div>
						
						<input type="text" th:field="*{luogoNascita}" class="entry"/>
					</div>
					
					<div class="fields">
						<div class="field-name" th:if="${#fields.hasErrors('nazionalita')}">
						</div>
						<label th:text="#{pages.artista.nazionalita}">
							...
						</label>
					</div>
					
					<div class="fields">
						<div th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}">
							...
						</div>
						
						<input type="text" th:field="*{nazionalita}" class="entry"/>
					</div>
					
					
					<label th:text="#{pages.artista.data.morte}">
						...
					</label>
					
					<input type="date" th:field="*{dataMorte}" min="#nascita" class="date-selector"/>
					
					
					<label th:text="#{pages.artista.luogo.morte}">
						...
					</label>
					
					<input type="text" th:field="*{luogoMorte}" class="entry"/>
					
					
					<a class="button slide" th:href="@{/admin/menu}" th:text="#{button.indietro}">
						...
					</a>
					<button  class="button slide" name="submit" value="salva" th:text="#{button.salva}">
						...
					</button>
					
					<div th:if="${#fields.hasGlobalErrors()}">
		  				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
					</div>
					
				</form>
		</section>
	<body>
</html>