<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/main-fragment.html :: headerfiles(title = #{pages.nuovo.collezione.text.title})">
	</head>
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/admin/artista-form.css}">
	</head>
	<body>
		<div th:replace="fragments/main-fragment.html :: navbar">
			...
		</div>
		
		<section id="main-section" class="flex-small-container">
			
				<form id="form-container" class="frame-flex-content-container" th:action="@{/admin/collezione/save}" method="POST" th:object="${collezione}">
					
					<div class="fields">
						<div class="field-name" th:if="${#fields.hasErrors('nome')}">
						</div>
						<label th:text="#{pages.collezione.nome}">
							...
						</label>
					</div>
					
					<div class="fields">
						<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
							...
						</div>
						<input type="text" th:field="*{nome}" class="entry"/>
					</div>
					
					
					<label th:text="#{pages.collezione.descrizione}">
						...
					</label>
					
					<input type="text" th:field="*{descrizione}" class="entry"/>
					
					
					<label th:text="#{pages.collezione.curatore}">
						...
					</label>
					
					<select form="form-container" class="entry" name="curatore_matricola">
						<option th:each="curatore : ${dipendenti}" th:value="${curatore.matricola}" th:text="|${curatore.nome} ${curatore.cognome}|">...</option>
					</select>
					
					<a class="button slide" th:href="@{/admin/menu}" th:text="#{button.indietro}">
						...
					</a>
					<button  class="button slide" name="submit" value="salva" th:text="#{button.salva}">
						...
					</button>
					
					<div th:if="${#fields.hasGlobalErrors()}">
		  				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
					</div>
					
				</form>
		</section>
	<body>
</html>