<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/main-fragment.html :: headerfiles(title = #{pages.gestisci.title})">
	</head>
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/admin/gestisci.css}">
	</head>
	<body>
		<div th:replace="fragments/main-fragment.html :: navbar">
			...
		</div>
		
		<section id="main-section" class="flex-small-container">
				<div id="form-container" class="frame-flex-content-container">
					<h1 th:text="#{pages.gestisci.title}">...</h1>
					
					<a th:href="@{/admin/gestisci/artista}" th:text="#{button.artista}" class="button slide w200px">
						...
					</a>
					
					<a th:href="@{/admin/gestisci/opera}" th:text="#{button.opera}" class="button slide w200px">
						...
					</a>
					
					<a th:href="@{/admin/gestisci/collezione}" th:text="#{button.collezione}" class="button slide w200px">
						...
					</a>
					
					<a th:href="@{/admin/gestisci/opere}" th:text="#{button.opere}" class="button slide w200px">
						...
					</a>
				</div>
		</section>
	<body>
</html>