#main-section{
	height: auto;
	flex-direction: column;
}

#opera-frame {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5%;
	height: auto;
}

#info {
	display: grid;
	height: 100%;
	grid-template-columns: 3fr 1fr;
	grid-row: auto;
	grid-row-gap: 1vh;
	margin-left: 10%;
}